.acotar{
    visibility: visible;
}

body{
    background-image: url(../img/acotar/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
   /* background-position: center; */
    background-attachment: fixed;
}