header{
    margin-top: 10px;
    padding: 10px;
    height: 15vh;
    margin-left: 5px;
    margin-right: 5px;
    animation-name: acotar;
    animation-duration: 5s;
    animation-delay: 0s;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    background-color: rgba(122, 61, 236, 0.575);
    background-image: url(../img/ACOTAR/header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes acotar {
    0%{
        background-color: rgba(122, 61, 236, 0.575);
    }
    100%{
        background-color: rgba(129, 69, 241, 0.575);
    }
}

.acotar{
    visibility: hidden;
}

ol {
    text-align: left;
  }

  
ul {
    text-align: left;
  }


body{
    background-image: url(../img/acotar/background.jpeg);
    /*background-color: rgba(204, 146, 243, 0.425); */
    background-size: cover;
    background-repeat: no-repeat;
   /* background-position: center; */
    background-attachment: fixed;
}

div{
    text-align: center;
    justify-content: center;
    /*background-color: rgba(174, 247, 247, 0.671);*/
    color:rgb(2, 2, 2);
    /* sombra pra direita, sombra pra baixo, fundo, cor  */
    text-shadow: 2px 2px 4px rgba(243, 238, 238, 0.884);
    border-radius: 20px;    
    font-size: 17px;
}

.intro{
    text-align: left;
    font-size: medium;
    font-size: 17px;
}

li{
    text-align: left;
    font-size: medium;
    font-size: 20px;
}

p{
    text-align: center;
    font-size: 17px;
}

.imagens{
    display: grid;
    grid-template-columns: repeat(1, 5fr); /* Alterado para 5 colunas */
    grid-gap: 10px;
    height: 250px;
    width: 200px;
}

footer{
    background-color: rgba(217, 171, 248, 0.644);
    margin-top: 50px;
    padding: 15px;
    height: 15vh;
    border-radius: 5px;
    animation-name: footer;
    animation-duration: 5s;
    animation-delay: 0s; 
    animation-iteration-count: infinite; 
    font-size: x-large;
    text-align: center;
    
}

footer a:hover{
    color: white;
}

/* alinha as imagens ao lado do texto, se tirar elas ficam embaixo dos titulos */
.item {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
  }
  
  .imagens {
    margin-left: 10px;
  }

  ol {
    text-align: left;
  }

  ul {
    text-align: left;
  }