body{
    background-image: url(../img/paginas/backgourndMagia.jpeg);
    transition: background-color 0.3s ease;
}

div{
    text-align: center;
    justify-content: center;
    background-color: rgba(97, 174, 241, 0.158);
    color:rgba(240, 248, 255, 0.842);
    /* sombra pra direita, sombra pra baixo, fundo, cor  */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 20px;    
}

li{
    text-align: left;
    font-size: medium;
}

p{
    text-align: center;
    font-size: 16px;
}

.genero{
    background-color: rgba(193, 217, 252, 0.705);
    text-shadow: 2px 2px 4px rgba(238, 231, 231, 0.932);
    color:rgb(19, 18, 18);
}

.imagemFundo{
    background-image: url(../img/paginas/backgourndLivrosOutrono.jpeg);
}

button{
    transition-property: background-color;
    transition-duration: 2s;
    background-color: aqua;   
}

button{
    animation-name: botao;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;  
}

@keyframes botao {
    0% {
        background-color: rgb(104, 211, 243);
    }
    20%{
        background-color: rgb(32, 190, 238);
    }
    40%{
        background-color: rgb(32, 104, 238);
    }
    60%{
        background-color: rgb(190, 32, 238);
    }
    80%{
        background-color: rgb(207, 92, 241);
    }
    100%{
        background-color: rgb(215, 147, 236);
    }
}